.catalog {
  padding: 50px 20px 44px;
  background-color: $lightest-grey;

  @media (min-width: $tablet-width) {
    padding: 80px 20px 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 120px;
  }
}

.catalog__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 56px;
  }
}

.catalog__title {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.catalog__subtitle {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: $base-primary;
}

.catalog__form {
  margin-bottom: 40px;
}

.catalog__sort {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }
}

.catalog__cards-list {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 30px;
  }
}

.catalog__card {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.catalog__cards-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
