.logo {
  display: flex;
  text-decoration: none;
  color: inherit;

  &--footer {
    display: block;
  }
}

.logo--footer .logo__image {
  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.logo--footer .logo__text {
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.logo__text {
  margin: 0 0 0 20px;
  font-size: 12px;
  line-height: 16px;

  @media (max-width: $desktop-width - 1) {
    @include hide;
  }
}
